body {
  align-self: center;
  margin: 0px;
}

.navbar {
  background-color: #163832;
  color: #163832;
  margin: 0;
}
.navbar .navbar__pane:hover {
  background-color: #d2ac5c;
}
.navbar .navbar__pane .navbar .navbar__pane__text {
  font-size: 20;
  font-weight: 400;
}

.background {
  box-sizing: border-box;
  background-color: #B7825F;
  margin: 0;
  padding: 30px;
}

.home_splash {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100%;
}

.home_info {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100%;
}
.home_info .home_info__desc {
  height: auto;
}

.models {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.titlecard {
  background-color: rgba(91, 0, 97, 0.3764705882);
}
.titlecard .titlecard__logo {
  width: 30vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.sentence {
  color: #013220;
  font-size: 20;
  font-weight: 300;
}

.wrapping_elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.aboutTable {
  overflow: auto;
  display: block;
  table-layout: auto;
}

.aboutInfo {
  margin-top: 40px;
  margin-bottom: 40px;
}/*# sourceMappingURL=site_sass.module.css.map */