@import '_site_colorvars.scss';
@import '_site_fontvars.scss';


body{
    align-self: center;
    margin: 0px;
}

.navbar{
    background-color: $navbar_color;
    color: $navbar_color;
}

.background{
    box-sizing: border-box;
    background-color: $background_color;
    margin: 0;
    padding: 30px;
}

.home_splash{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 100%;
}

.home_info{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 100%;

    #{&}__desc{
        height:auto;
    }
}
.models{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.titlecard{
    background-color: $title_card_color;
    #{&}__logo{
        width: 30vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

// .titlecard{
//     background-color: $title_card_color;
//     justify-content: center;
//     padding-top: 5rem;
//     position: relative;
//     height: 20rem;
//     width: 30rem;
//     top: 10rem;
//     margin: 0 auto;

//     #{&}__text{
//         justify-content: center;
//         padding-top: 0;
//         font-size: map-get($font_sizes, main_title);
//         font-weight: map-get($font_weights, heavy);
//         text-align: center;
//     }

//     #{&}__subtext{
//         justify-content: center;
//         padding-top: 0;
//         font-size: map-get($font_sizes, medium_paragraph);
//         font-weight: map-get($font_weights, regular);
//         text-align: center;
//     }
// }

.sentence{
    color: $text_color;
    font-size: map-get($font_sizes, medium_paragraph);
    font-weight: map-get($font_weights, light);
}

.wrapping_elements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.aboutTable{
    overflow: auto;
    display: block;
    table-layout: auto;
}

.aboutInfo{
    margin-top: 40px;
    margin-bottom: 40px;
}

